body {
    background: url(images/doge-27437-1920x1200.jpg);
    background-size: cover;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 3em;
    overflow: hidden;
}

.flyer {
    position: absolute;
    transition: 10s ease;
    text-shadow: 2px 2px 3px;
}

#saying {
    height: 20px;
    width: 200px;
    padding: 0.5em;
    font-size: 0.5em;
    margin-left: 1em;
}